Lab5/Lab5Client/LiteDBClient/Service References/PersonReviewRepository/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ModelLibrary" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CreatePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ModelLibrary" minOccurs="0" name="model" nillable="true" type="q1:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreatePersonResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ModelLibrary" minOccurs="0" name="ReadPersonResult" nillable="true" type="q2:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPeople">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q3:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPeopleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ModelLibrary" minOccurs="0" name="ReadPeopleResult" nillable="true" type="q4:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllPeople">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllPeopleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ModelLibrary" minOccurs="0" name="ReadAllPeopleResult" nillable="true" type="q5:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ModelLibrary" minOccurs="0" name="model" nillable="true" type="q6:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ModelLibrary" minOccurs="0" name="UpdatePersonResult" nillable="true" type="q7:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ModelLibrary" minOccurs="0" name="model" nillable="true" type="q8:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePersonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ModelLibrary" minOccurs="0" name="model" nillable="true" type="q9:Review" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateReviewResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ModelLibrary" minOccurs="0" name="ReadReviewResult" nillable="true" type="q10:Review" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPersonByNameAndSurname">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPersonByNameAndSurnameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ModelLibrary" minOccurs="0" name="ReadPersonByNameAndSurnameResult" nillable="true" type="q11:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadReviews">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q12:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadReviewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ModelLibrary" minOccurs="0" name="ReadReviewsResult" nillable="true" type="q13:ArrayOfReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllReviews">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllReviewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ModelLibrary" minOccurs="0" name="ReadAllReviewsResult" nillable="true" type="q14:ArrayOfReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadReviewForMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="movieId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadReviewForMovieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ModelLibrary" minOccurs="0" name="ReadReviewForMovieResult" nillable="true" type="q15:ArrayOfReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadReviewForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadReviewForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ModelLibrary" minOccurs="0" name="ReadReviewForUserResult" nillable="true" type="q16:ArrayOfReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ModelLibrary" minOccurs="0" name="model" nillable="true" type="q17:Review" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ModelLibrary" minOccurs="0" name="UpdateReviewResult" nillable="true" type="q18:Review" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ModelLibrary" minOccurs="0" name="model" nillable="true" type="q19:Review" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteReviewResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>