Lab5/Lab5Client/LiteDBClient/Service References/MovieRepository/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MovieRepositoryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ModelLibrary" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/LiteDBService.DBProvider.BaseObjects" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMovieRepositoryService_CreateMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateMovie" />
  </wsdl:message>
  <wsdl:message name="IMovieRepositoryService_CreateMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieRepositoryService_ReadMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadMovie" />
  </wsdl:message>
  <wsdl:message name="IMovieRepositoryService_ReadMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieRepositoryService_ReadMovies_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadMovies" />
  </wsdl:message>
  <wsdl:message name="IMovieRepositoryService_ReadMovies_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadMoviesResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieRepositoryService_ReadAllMovies_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllMovies" />
  </wsdl:message>
  <wsdl:message name="IMovieRepositoryService_ReadAllMovies_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllMoviesResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieRepositoryService_UpdateMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMovie" />
  </wsdl:message>
  <wsdl:message name="IMovieRepositoryService_UpdateMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IMovieRepositoryService_DeleteMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMovie" />
  </wsdl:message>
  <wsdl:message name="IMovieRepositoryService_DeleteMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMovieResponse" />
  </wsdl:message>
  <wsdl:portType name="IMovieRepositoryService">
    <wsdl:operation name="CreateMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieRepositoryService/CreateMovie" message="tns:IMovieRepositoryService_CreateMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieRepositoryService/CreateMovieResponse" message="tns:IMovieRepositoryService_CreateMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieRepositoryService/ReadMovie" message="tns:IMovieRepositoryService_ReadMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieRepositoryService/ReadMovieResponse" message="tns:IMovieRepositoryService_ReadMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadMovies">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieRepositoryService/ReadMovies" message="tns:IMovieRepositoryService_ReadMovies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieRepositoryService/ReadMoviesResponse" message="tns:IMovieRepositoryService_ReadMovies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadAllMovies">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieRepositoryService/ReadAllMovies" message="tns:IMovieRepositoryService_ReadAllMovies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieRepositoryService/ReadAllMoviesResponse" message="tns:IMovieRepositoryService_ReadAllMovies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieRepositoryService/UpdateMovie" message="tns:IMovieRepositoryService_UpdateMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieRepositoryService/UpdateMovieResponse" message="tns:IMovieRepositoryService_UpdateMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IMovieRepositoryService/DeleteMovie" message="tns:IMovieRepositoryService_DeleteMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMovieRepositoryService/DeleteMovieResponse" message="tns:IMovieRepositoryService_DeleteMovie_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMovieRepositoryService" type="tns:IMovieRepositoryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateMovie">
      <soap:operation soapAction="http://tempuri.org/IMovieRepositoryService/CreateMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadMovie">
      <soap:operation soapAction="http://tempuri.org/IMovieRepositoryService/ReadMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadMovies">
      <soap:operation soapAction="http://tempuri.org/IMovieRepositoryService/ReadMovies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAllMovies">
      <soap:operation soapAction="http://tempuri.org/IMovieRepositoryService/ReadAllMovies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMovie">
      <soap:operation soapAction="http://tempuri.org/IMovieRepositoryService/UpdateMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMovie">
      <soap:operation soapAction="http://tempuri.org/IMovieRepositoryService/DeleteMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MovieRepositoryService">
    <wsdl:port name="BasicHttpBinding_IMovieRepositoryService" binding="tns:BasicHttpBinding_IMovieRepositoryService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/api/MovieRepositoryService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>